* { margin: 0, padding: 0 }
body {
	margin: 0;
	background-color: #135c14;
	background-image: url(http://www.gifszone.com/content/background/nature/nature_468.jpg);
}
.header {
	height: 12vw;
	overflow: hidden;
	background-color: #a1e4a1fd;
	background-image: url("nts.png");
}
.header button {
	float: right;
	background-color: #a6b4ac;
	border: none;
	color: black;
	width: 12vw;
	height: 4vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2vw;
	font-family: 'Apple Chancery';
	cursor: grab;
	border-radius: 4px;
	margin: 0.3em;
}
.header h1 {
	float: left;
	color: #8a0000e5;
	font-size: 1.7vw;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	margin-inline-start: 0.5em;
	font-family: 'Apple Chancery';
}
.stats {
	overflow: hidden;
	background-color: #a6b4ac;
}
.stats div {
	float: left;
}
.stats h2 {
	color: #a6b4ac;
	font-size: 1.7vw;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	margin-inline-start: 0.5em;
	margin-inline-end: 0.5em;
	font-family: 'Apple Chancery';
}
#paths_div {
	overflow: hidden;
	background-color: #40865e;
}
#ants_div {
	overflow: hidden;
	background-color: #a6b4ac;
}
#ants_div h2 {
	color: #222222;
}
#auth_div {
	position: relative;
	float: right;
	right: 10px;
	font-size: 1.7vw;
	margin-block-start: 0.3em;
	color: #000000e5;
	font-family: 'Apple Chancery';
}
#rounds_div {
	overflow: hidden;
	background-color:#478662 ;
}
#cy {
	width: 95vw;
	height: 85vh;
}
